[package]
name = "git-stack"
description = "Stacked branch management for Git"
version = "0.10.12"
license = "MIT OR Apache-2.0"
repository = "https://github.com/gitext-rs/git-stack.git"
documentation = "https://github.com/gitext-rs/git-stack.git"
readme = "README.md"
categories = ["command-line-interface", "development-tools"]
keywords = ["git", "cli"]
edition = "2021"
rust-version = "1.65.0"  # MSRV
include = [
  "src/**/*",
  "Cargo.toml",
  "LICENSE*",
  "README.md",
  "examples/**/*"
]

[package.metadata.release]
pre-release-replacements = [
  {file="CHANGELOG.md", search="Unreleased", replace="{{version}}", min=1},
  {file="CHANGELOG.md", search="\\.\\.\\.HEAD", replace="...{{tag_name}}", exactly=1},
  {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}", min=1},
  {file="CHANGELOG.md", search="<!-- next-header -->", replace="<!-- next-header -->\n## [Unreleased] - ReleaseDate\n", exactly=1},
  {file="CHANGELOG.md", search="<!-- next-url -->", replace="<!-- next-url -->\n[Unreleased]: https://github.com/gitext-rs/git-stack/compare/{{tag_name}}...HEAD", exactly=1},
]

[dependencies]
git2 = { version = "0.16", default-features = false, features = ["vendored-libgit2"] }
git-config-env = "0.1"
clap = { version = "4.1.8", features = ["derive"] }
clap-verbosity-flag = "2.0.0"
log = "0.4"
env_logger = { version = "0.10", default-features = false, features = ["color"] }
yansi = "0.5.1"
concolor = "0.0.12"
concolor-clap = { version = "0.0.14", features = ["api_unstable"] }
proc-exit = "2"
eyre = "0.6"
human-panic = "1"
termtree = "0.4"
indexmap = "1"

git2-ext = "0.5.0"
git-branch-stash = "0.9.2"
humantime = "2"
itertools = "0.10"
ignore = "0.4"
bstr = "1.3.0"
maplit = "1"
petgraph = "0.6.3"
downcast-rs = "1.2.0"
names = { version = "0.14.0", default-features = false }
elsa = "1.8.0"
shlex = "1.1.0"

[dev-dependencies]
git-fixture = { version = "0.3", features = ["yaml"] }
assert_fs = "1"
snapbox = { version = "0.4.7", features = ["cmd", "path"] }
